<p id="notice"><%= notice %></p>

<% if current_user.access_token.nil? %>
  <div class="alert alert-danger" role="alert"><strong>Not authenticated.</strong> An access token is required to flag posts.
  <%= link_to "Authenticate", access_tokens_path %>.
</div>
<% end %>

<h3>Flags in queue</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Post ID</th>
      <th>Site</th>
      <th>Reason</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @queued_flags.each do |flag| %>
      <tr>
        <td><%= flag.post_id %></td>
        <td><%= flag.site.site_name %></td>
        <td><%= flag.flag_type.name %></td>
       <td><%= link_to 'Cancel', flag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flag', new_flag_path %>

<br>

<% if @errored_flags.count > 0 %>

<h3 class="text-danger">Failed</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Post ID</th>
      <th>Site</th>
      <th>Reason</th>
      <th>Failure reason</th>
    </tr>
  </thead>

  <tbody>
    <% @errored_flags.each do |flag| %>
      <tr>
        <td><%= flag.post_id %></td>
        <td><%= flag.site.site_name %></td>
        <td><%= flag.flag_type.name %></td>
        <td><%= flag.failure_reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>  

<% end %>
