<p id="notice"><%= notice %></p>

<% if current_user.access_token.nil? %>
  <div class="alert alert-danger" role="alert"><strong>Not authenticated.</strong> An access token is required to flag posts.
  <%= link_to "Authenticate", access_tokens_path %>.
</div>
<% end %>

<h3>Flags in queue</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Post ID</th>
      <th>Site</th>
      <th>Reason</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @queued_flags.each do |flag| %>
      <tr>
        <td><%= link_to flag.post_id, flag.site.site_url + "/q/" + flag.post_id.to_s %></td>
        <td><%= flag.site.site_name %></td>
        <td><%= flag.flag_type.name %></td>
       <td><%= link_to 'Cancel', flag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flag', new_flag_path %>

<br>

<% if @errored_flags.count > 0 %>

<h3 class="text-danger">Failed</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Post ID</th>
      <th>Site</th>
      <th>Reason</th>
      <th>Failure reason</th>
    </tr>
  </thead>

  <tbody>
    <% @errored_flags.each do |flag| %>
      <tr>
        <td><%= link_to flag.post_id, flag.site.site_url + "/q/" + flag.post_id.to_s %></td>
        <td><%= flag.site.site_name %></td>
        <td><%= flag.flag_type.name %></td>
        <td><%= flag.failure_reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>  

<% end %>

<% if @completed_flags.count > 0 %>
<h3 class="text-success">Completed</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Post ID</th>
      <th>Site</th>
      <th>Reason</th>
      <th>Attempt date</th>
    </tr>
  </thead>

  <tbody>
    <% @completed_flags.each do |flag| %>
      <tr>
        <td><%= link_to flag.post_id, flag.site.site_url + "/q/" + flag.post_id.to_s %></td>
        <td><%= flag.site.site_name %></td>
        <td><%= flag.flag_type.name %></td>
        <td><%= flag.attempted_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>   
<% end %>

<% unless current_user.access_token.nil? %>
  <br>
  <p class="text-muted">Linked to <a href="https://stackexchange.com/users/<%= current_user.account_id%>">your Stack Exchange account</a>. <%= link_to "Manage access token", access_tokens_path %>.</p>
<% end %>
